html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.layout {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f8fafc;
  min-width: 0;
}

.content-root {
  flex: 1;
  padding: 10px;
}
